<div class="row">
    <div class="container">

        <div class="col-sm-12">

            <h1>
                Login
            </h1>
        </div>
        <div class="row">

            <div class="col-sm-12 userName">
                <label>
                    User Name
                </label>
                <input type="text">
            </div>
            <div class="col-sm-12 loginPassword">
                <label>
                    Password
                </label>

                <input type="password">
            </div>

            <button type="submit" class="btn-btn-primary loginBtn" (click)="submit()" >
                Login
            </button>
        </div>
    </div>