<p>sample works!</p>
<button (click)="onclick()">click</button>

<button (click)="greetings=welcome">click here</button>
{{greetings}}

<!-- <app-product (notifyParent)="getNotification($event)"></app-product> -->
<!-- <app-sample [child]="parentitem"></app-sample> -->
<input (keyup)="onKey($event)">
  <p>{{values}}</p>
  <input #box
  (keyup.enter)="update(box.value)" >
  <div class="form-group">
    <label for="power">Hero Power</label>
    <select class="form-control" id="power" required>
      <option *ngFor="let pow of powers" >{{pow}}</option>
    </select>
    <!-- {{model.name}} -->
  </div>
  <!-- <label [attr.for]="question.name">{{question.label}}</label> -->
  <input #myinputvalue type="text">
  <button (click)="inputMessage(myinputvalue.value)">Log</button>
  <h2 *ngIf="expression; else elseblock">

  </h2>
  <ng-template #elseblock>
    <h2>else  works</h2>
  </ng-template>

  <div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">color is red</div>
    <div *ngSwitchCase="'green'">color is green</div>
  </div>