<div class="container">
    <h3>
        Department Details
    </h3>

    <a [routerLink]="['/product']" routerLinkActive="router-link-active">go to product</a>
    <a [routerLink]="['/sample']">go to sample</a>

    <table class="table">
        <thead class="thead-dark"><th>
Category
        </th>
            <th>
                Department ID
            </th>
            <th>
                Department Name
            </th>
            <th>
                Action </th>
            <tr *ngFor="let item of dept" (click)="goTodepartmentDetailPage(item)">
                <!-- <a [routerLink]="['detail',item.id]" routerLinkActive="router-link-active"> -->
          <td >
                
              <a [title]="item.category"></a> 
              
          </td>
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.name | uppercase}}
                </td>

                <td>
                    <button type="text" class="btn btn-primary sm" (click)="editDepartment()">
                        Edit
                    </button> </td>
                <!-- </a> -->

            </tr>
        </thead>

    </table>
    <button (click)="addDepartment()">Add Department</button>
</div>